Cleaning and Melting Data frames

In [31]:
#Importing Data into Python Environment
import pandas as pd
fertility = pd.read_csv("Data_Uncleaned/Fertility.csv")
fertility = fertility.rename(columns={'Year': 'Country'})
fertility = fertility.applymap(lambda x: x.strip() if isinstance(x, str) else x)
fertility = pd.melt(fertility, id_vars=['Country'], var_name='Year', value_name='fertility_rate')
fertility

/var/folders/x3/1m329lgj7sl4y1pqkx_p_f_80000gn/T/ipykernel_73916/2126710838.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  fertility = fertility.applymap(lambda x: x.strip() if isinstance(x, str) else x)

           Country  Year fertility_rate
0        Australia  1990            1.9
1          Austria  1990           1.46
2          Belgium  1990           1.62
3           Canada  1990           1.71
4            Chile  1990           2.58
...            ...   ...            ...
1645     Indonesia  2022             ..
1646         Malta  2022             ..
1647       Romania  2022             ..
1648        Russia  2022             ..
1649  South Africa  2022             ..

[1650 rows x 3 columns]

In [36]:
#Importing Data into Python Environment
import pandas as pd
gdp = pd.read_csv("Data_Uncleaned/GDP.csv")
gdp = gdp.rename(columns={'Time': 'Country'})
gdp = gdp.applymap(lambda x: x.strip() if isinstance(x, str) else x)
gdp = pd.melt(gdp, id_vars=['Country'], var_name='Time', value_name='gdp')
gdp

/var/folders/x3/1m329lgj7sl4y1pqkx_p_f_80000gn/T/ipykernel_73916/854754140.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  gdp = gdp.applymap(lambda x: x.strip() if isinstance(x, str) else x)

           Country  Time        gdp
0        Australia  2000     539.15
1          Austria  2000     235.38
2          Belgium  2000     284.86
3           Canada  2000        901
4            Chile  2000     145.36
...            ...   ...        ...
1075         China  2023  32,775.12
1076         India  2023         ..
1077     Indonesia  2023   4,378.31
1078        Russia  2023         ..
1079  South Africa  2023         ..

[1080 rows x 3 columns]

In [43]:
#Importing Data into Python Environment
import pandas as pd
immigration = pd.read_csv("Data_Uncleaned/immigration.csv")

new_header = immigration.iloc[0] #Grabbing the first row for the header
mpa = immigration[1:] #Taking the data less the header row
immigration.columns = new_header #Setting the header row as the df header
immigration = immigration.rename(columns={'Year': 'Country', 2000.0: 2000, 2005.0: 2005, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015,2016.0: 2016,2017.0: 2017,
                          2018.0: 2018,2019.0: 2019,2020.0: 2020,})

immigration = immigration.applymap(lambda x: x.strip() if isinstance(x, str) else x)
immigration = pd.melt(immigration, id_vars=['Country'], var_name='Year', value_name='immigration_rate')
immigration

/var/folders/x3/1m329lgj7sl4y1pqkx_p_f_80000gn/T/ipykernel_73916/1976311957.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  immigration = immigration.applymap(lambda x: x.strip() if isinstance(x, str) else x)

            Country  Year immigration_rate
0              Year  2000             2000
1         Australia  2000           107148
2           Austria  2000            65954
3           Belgium  2000            57295
4            Canada  2000           227455
..              ...   ...              ...
846     Switzerland  2022               ..
847         Türkiye  2022               ..
848  United Kingdom  2022               ..
849   United States  2022               ..
850             NaN  2022              NaN

[851 rows x 3 columns]